@{
	ViewBag.Title = "PlanesLanding";
    Layout = "~/Views/Shared/_LayoutLanding.cshtml";
}

@section Style {


    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/flaticon.css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" />


    <link rel="stylesheet" href="~/css/style2.css" />
}

<body style="background-color: #000000">



    <!-- Sección superior de la página -->
    <section class="page-top-section set-bg" data-setbg="~/img/header-bg/2.jpg">
        <div class="container">
            <h2 class="text-white h2">Planes</h2>
        </div>
    </section>
    <!-- Fin de la sección superior de la página -->
    <!-- Sección de servicios -->
    <section class="service-section" style="background-color:white">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-050-weightlifting"></i>
                        </div>
                        <h4>Culturismo</h4>
                        <p>El fisicoculturismo es una disciplina que combina entrenamiento con pesas, nutrición y estética para desarrollar masa muscular y definir la figura..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-045-fitness"></i>
                        </div>
                        <h4>Fitness</h4>
                        <p>bienestar físico y mental logrado con ejercicio regular, dieta equilibrada y descanso, para tener fuerza, resistencia y flexibilidad.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-033-pump"></i>
                        </div>
                        <h4>Aeróbicos</h4>
                        <p>ejercicios rítmicos de media o baja intensidad que mejoran la capacidad cardiovascular, la coordinación y la resistencia física.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-017-weightlifting-1"></i>
                        </div>
                        <h4>Pilates</h4>
                        <p>Ejercicios que usa movimientos controlados para fortalecer el cuerpo, mejorar la flexibilidad y la postura, con énfasis en la conexión mente-cuerpo..</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-004-dumbbell"></i>
                        </div>
                        <h4>Levantamiento de pesas</h4>
                        <p>Es una disciplina que usa pesas para fortalecer los músculos, aumentar la fuerza y la resistencia, y mejorar la condición física general.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="icon-box-item">
                        <div class="ib-icon">
                            <i class="flaticon-038-vitamins"></i>
                        </div>
                        <h4>Nutrición</h4>
                        <p>Proceso de obtener y utilizar los nutrientes necesarios para el crecimiento, el mantenimiento y la reparación del cuerpo..</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la sección de servicios -->
    <!-- Sección de precios -->
    <section class="pricing-section set-bg" data-setbg="img/pricing-bg.jpg">
        <div class="container">
            <div class="section-title text-white text-center">
                <h2>Precios para <span>todos</span></h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="pricing-box">
                        <h2>$40.000</h2>
                        <p>/Mensual</p>
                        <ul>
                            <li>Gimnasio</li>
                            <li>Maquinas de Ejercicio</li>
                            <li>Guia de nutricion</li>
                            <li>Apoyo Entrenadores</li>
                          
                        </ul>
                        <a href="#" class="site-btn">Elegir Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricing-box">
                        <h2>$100.000</h2>
                        <p>/Trimestral</p>
                        <ul>
                            <li>Gimnasio</li>
                            <li>Maquinas de Ejercicio</li>
                            <li>Guia de nutricion</li>
                            <li>Apoyo Entrenadores</li>

                        </ul>
                        <a href="#" class="site-btn">Elegir Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricing-box">
                        <h2>$220.000</h2>
                        <p>/Semestral</p>
                        <ul>
                            <li>Gimnasio</li>
                            <li>Maquinas de Ejercicio</li>
                            <li>Guia de nutricion</li>
                            <li>Apoyo Entrenadores</li>

                        </ul>
                        <a href="#" class="site-btn">Elegir Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="pricing-box">
                        <h2>$300.000</h2>
                        <p>/Anual</p>
                        <ul>
                            <li>Gimnasio</li>
                            <li>Maquinas de Ejercicio</li>
                            <li>Guia de nutricion</li>
                            <li>Apoyo Entrenadores</li>

                        </ul>
                        <a href="#" class="site-btn">Elegir Plan</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Fin de la sección de precios -->
    <!-- Sección de entrenadores personales -->

    <section class="add-section set-bg" data-setbg="img/add-bg.jpg" style="background-color: white">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2 class="">¿Necesitas un <span class="">entrenador personal?</span><br> Ponte en contacto con nosotros ahora.</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="classes-text">
                        <p class="">
                            Buscas un entrenador personal comprometido, con experiencia y que te motive a superar tus límites, ¡te recomiendo a Sergio Ledezma!

                            El no solo diseña planes de entrenamiento personalizados, sino que te acompaña en cada paso del camino, asegurando tu correcta ejecución y brindándote el apoyo que necesitas para alcanzar tus objetivos.

                            Su enfoque en el fisicoculturismo, experiencias ademas de su pasión por el fitness te inspirarán a dar lo mejor de ti.  ¡No esperes más para transformar tu vida!
                        </p>
                        <a href="#" class="site-btn ">Envíanos un mensaje</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
 

    <!--====== Javascripts & Jquery ======-->
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/circle-progress.min.js"></script>
    <script src="~/views/main.js"></script>
</body>


